

<html>
    <head>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="isdoctor.css">

        <link rel="stylesheet" href="myappointments.css">
        <link rel="stylesheet" href="admin.css">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />

  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #admindashboard{
                color:rgb(22, 125, 221);
                font-family: BoldFont;
            }
           
        </style>
    </head>
    <body>
        
    
        <%-include('header.ejs') %>
    
    <section class="appointments">
        <div class="dashboard" >
            <h1>Dashboard</h1>
            <ul>
               <a href="/admindashboard"> <li>
                    <i class="fas fa-user-edit"></i>
                    <span id="admindashboard">Dashboard</span>
                </li></a>
                <a href="/adminusers"> <li>
                    <i class="fas fa-th-list"></i>
                    <span id="adminusers">Users</span>
                </li>
            </a>
    
    
            <a href="/admindoctors"><li>
                <i class="fas fa-file-alt"></i>
                <span id="admindoctors">Doctors</span>
            </li>
        </a>
    
    
        
            <a href="/adminhospitals"><li>
                    <i class="fas fa-file-alt"></i>
                    <span id="adminhospitals">Hospitals</span>
                </li>
            </a>
                <a href="/settings"><li>
                    <i class="fas fa-user-cog"></i>
                    <span id="setting">Setting</span>
                </li>
            </a>
            </ul>
        </div>
        <div class="record-flex">
            <div class="alllabels">
                <div>
                <i class="fas fa-briefcase-medical"></i>
                    <div class="count">
                        <h4>User</h4>
                        <h4><%= usercount.length%></h4>
                    </div>
                </div>
                <div>
                <i class="fas fa-syringe"></i>
                    <div class="count">
                        <h4>Doctors</h4>
                        <h4><%= doctorcount%></h4>
                    </div>
                </div>
                <div>
                <i class="fas fa-user-md"></i>
                    <div class="count">
                        <h4>Hospitals</h4>
                        <h4>33</h4>
                    </div>
                </div>
                <div>
                <i class="fas fa-briefcase-medical"></i>
                    <div class="count">
                        <h4>Appointments</h4>
                        <h4><%= appcount%></h4>
                    </div>
                </div>
            </div>
            <div class="survey">
                <h3>Hospital Survey</h3>
                <div>
                    <img src="./canvas.png">
                </div>
            </div>
            <div class="survey">
                <h3>Patient Age</h3>
                <div>
                    <img src="./canvasPieChart.png">
                </div>

            </div>
            <div class="userdata">
                <h3>Patients Enrolled</h3>
                <table  class="tabel">
                    <thead>
                        <tr>
                            <td>
                                <h5>Name</h5>
                            </td>
                            <td>
                                <h5>Phone Number</h5>
                            </td>
                            <td>
                                <h5>Email</h5>
                            </td>
                            <td>
                                <h5>Actions</h5>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0;i<userdata.length;i++){%>
                        <tr>
                            <td>
                                <h5><%= userdata[i].name%></h5>
                            </td>
                            <td>
                                <h5><%= userdata[i].phone_number%></h5>
                            </td>
                            <td>
                                <h5><%= userdata[i].email%> </h5>
                            </td>
                            <td>
                                <h5>Appointments Details </h5>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
                <h1 id="f" style="display: none;"><%= page%></h1>


                <div class="adminpagenation">
                    <ul>
                        <% for(var i=0;i<usercount.length;i+=3){ %>
                            <a class="pageIndexLink"
                                href="/adminpaginationpage/<%=parseInt(i/3)+1%>">
                        <li id="index<%=parseInt(i/3)+1%>">
                            <%=parseInt(i/3)+1%>
                        </li>
                    </a>
                        <%}%>
                </ul>
            </div>
    
            </div> 
            
        </div>
     

    
    </section>
    <script>
        var page=document.getElementById("f").innerHTML;
        document.getElementById("index" + page).classList.add("active");
  
    </script>
   
    
    
    
    
    
    
    
    
    
    <%-include('footer.ejs') %>
    
    </body>
    
    </html>