<html>

    <head>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="doctor.css">
        <link rel="stylesheet" href="contactus.css">

        <link rel="stylesheet" href="doctorsprofile.css">

    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    </head>
    <%-include('header.ejs') %>

    
<div class="overlay-contact-section">
    <div class="container">
    <h1>About <%= doctor.name %></h1>
    <h5>Home / Contact Us</h5>
</div>
</div>
<script>
    function showpara(id,iconid) {
      var x = document.getElementById(id);
      y= document.getElementById(iconid);
      if (x.style.display === "none") {
        x.style.display = "block";
        y.className="fas fa-angle-up";
      } else {
        x.style.display = "none";
        y.className="fas fa-angle-down";

      }
    }
    </script>

<section>
    <div class="container doctorsprofile">

<div class="profilecard">
    <div class="doctorimage">
    <img src=<%= doctor.img%>>
    <button class="dark-blue-button">Book an appointment</button>
    </div>
    <div class="info">
        <h3><%= doctor.name %></h3>
        <div class="doctor-info">
            <p><%= doctor.description%></p>
            <ul>
                <li onclick="showpara('para1','1')"><div><i class="fas fa-award"></i>Specialization </div><span><i id="1" class="fas fa-angle-up"></i></span></li>
                <p id="para1" style="display: block;"><%= doctor.specialization%></p>
                <li  onclick="showpara('para2','2')"><div><i class="fa fa-stethoscope"></i>List of Treatments</div><span><i id="2" class="fas fa-angle-down"></i></span></li>
                <p id="para2"><%= doctor.treatments%></p>
                <li onclick="showpara('para3','3')"><div><i class="fa fa-hospital"></i>Work Experience</div><span><i id="3" class="fas fa-angle-down" ></i></span></li>
                <p id="para3"><%= doctor.exp%></p>
                <li  onclick="showpara('para4','4')"><div><i class="fa fa-star"></i>Qualification</div><span><i id="4" class="fas fa-angle-down"></i></span></li>
                <p id="para4"><%= doctor.qualifications%></p>
                <li onclick="showpara('para5','5')"><div><i class="fa fa-trophy"></i>Awards</div><span><i id="5" class="fas fa-angle-down" ></i></span></li>
                <p id="para5"><%= doctor.awards%></p>
                <li onclick="showpara('para6','6')"><div><i class="fas fa-map-marker-alt"></i>Location</div><span><i id="6" class="fas fa-angle-down" ></i></span></li>
                <p id="para6"><%= doctor.state%></p>
                <li onclick="showpara('para7','7')"><div><i class="fa fa-rupee"></i>Avg Fees</div><span><i  id="7" class="fas fa-angle-down" onclick="showpara('para7','7')"></i></span></li>
                <p id="para7"><%= doctor.fees%></p>


            </ul>
        </div>
    </div>
</div>
    </div>
</section>




<section class="Need-help">
    <div class="container">

    <div>
    <h2>Need Help?</h2>
    <p>Just let us know, we will be happy to assist you</p>
    </div>
    <button class="sky-blue-button">Submit your enquiry</button>
    </div>

</section>





<%-include('footer.ejs') %>


</body>
</html>
