<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="doctor.css">
</head>

<body>
    <%-include('header.ejs') %>

        <section class="overlay-section">
            <div class="container">
                <h1>Cardiac surgeon in <span>Delhi</span> </h1>
            </div>
        </section>

        <section class="heading-section">
            <div class="container">
                <h3>Home/Doctor List</h3>
                <form action="/sort" method="POST">
                    <select name="sort" id="dropdownlist" onchange="this.form.submit()">
                        <option value="" disabled selected>Sort By</option>
                        <option value="name-asc">Name(Assc.)</option>
                        <option value="name-desc">Name(Desc.)</option>
                        <option value="fees-asc">Average Fee(Assc.)</option>
                        <option value="fees-desc">Average Fee(Desc.)</option>
                        <option value="exp-asc">Experience(Assc.)</option>
                        <option value="exp-desc">Experience(Desc.)</option>
                    </select>
                </form>
            </div>
        </section>

      
        <section class="filteranddoctor">
            <div class="container">
                <aside>
                    <form class="filterform" method="POST" action="/addfilter">
                        <button>Filter By</button>

                        <ul>
                            <%if(filter=="undefined"){%>
                                <li style="display: none;">
                                    <%= filter%> <i class="fa fa-close"></i>
                                </li>
                            <%}else{%>
                                <%for(var i=0;i<filter.length;i++){%>
                                     <li id="<%= i%>"><%= filter[i]%> <i onclick="remove('<%= i%>','<%= filter[i]%>')"class="fa fa-close"></i></li>
                            <%}}%>
                        </ul>


                        <div class="category">
                            <% var l=[]; var h=[]; var t=[]; 
                            for(var q=0;q<filterdata.length;q++){
                                if(!l.includes(filterdata[q].state)){ l.push(filterdata[q].state); } 
                            } 
                            for(var
                                q=0;q<filterdata.length;q++){ 
                                if(!h.includes(filterdata[q].yourhospital)){
                                h.push(filterdata[q].yourhospital); } } 
                            for(var q=0;q<filterdata.length;q++){
                                if(!t.includes(filterdata[q].treatments)){ t.push(filterdata[q].treatments); }
                             } %>
                            <div class="head">
                                <h5>Location</h5>
                                <i class="fa fa-search"></i>
                            </div>
                            <div id="showmore1" class="filter-data">
                                <%for(var i=0;i<l.length;i++){%>
                                    <div>
                                    <input type="checkbox" onchange="this.form.submit()" name="state"id="<%= l[i]%>" value="<%= l[i]%>"<%if((filter.includes(l[i]))){%>checked<%}else{%>unchecked<%}%> >
                                    <label for="<%= l[i]%>"><%= l[i]%></label>
                                    </div>
                                <%}%>
                            </div>
                            <span id="1" onclick="expand(1)">+ Show More</span>
                        </div>
                        <div class="category">
                            <div class="head">
                                <h5>Treatment</h5>
                                <i class="fa fa-search"></i>
                            </div>
                            <div id="showmore2" class="filter-data">
                                <%for(var i=0;i<t.length;i++){%>
                                    <div <%if(t[i]==null){%> style="display:none;"<%}%>><input type="checkbox" onchange="this.form.submit()"name="treatments" id="<%= t[i]%>" value="<%= t[i]%>"<%if((filter.includes(t[i]))&&(t[i]!=null)){%>checked<%}else{%>unchecked<%}%> >
                                    <label for="<%= t[i]%>"><%= t[i]%></label>
                                    </div>
                                <%}%>
                            </div>
                            <span id="2" onclick="expand(2)">+ Show More</span>
                        </div>
                        <div class="category">
                            <div class="head">
                                <h5>Hospital</h5>
                                <i class="fa fa-search"></i>
                            </div>
                            <div  id="showmore3" class="filter-data">
                                <%for(var i=0;i<h.length;i++){%>
                                    <div>
                                        <input type="checkbox" onchange="this.form.submit()" name="hospitals"id="<%= h[i]%>" value="<%= h[i]%>"<%if((filter.includes(h[i]))){%>checked<%}else{%>unchecked<%}%>>
                                        <label for="<%= h[i]%>"><%= h[i]%></label>
                                    </div>
                                <%}%>
                               
                            </div>
                            <span id="3" onclick="expand(3)">+ Show More</span>
                        </div>
                        <div class="category">
                            <div class="head">
                                <h5>Experience</h5>
                                <i class="fa fa-search"></i>
                            </div>
                            <div  id="showmore4" class="filter-data">
                                <div>
                                    <input type="checkbox" onchange="this.form.submit()" name="exp" value="30"
                                        <%if((filter.includes("30"))){%>checked<%}else{%>unchecked<%}%>>
                                            <label for="cybercity">30 +</label>
                                </div>
                                <div>
                                    <input type="checkbox" onchange="this.form.submit()" name="exp" value="25"
                                        <%if((filter.includes("25"))){%>checked<%}else{%>unchecked<%}%>>
                                            <label for="cybercity">25 +</label>
                                </div>
                                <div>
                                    <input type="checkbox" onchange="this.form.submit()" name="exp" value="20"
                                        <%if((filter.includes("20"))){%>checked<%}else{%>unchecked<%}%>>
                                            <label for="cybercity">20 +</label>
                                </div>
                                <div>
                                    <input type="checkbox" onchange="this.form.submit()" name="exp" value="15"
                                        <%if((filter.includes("15"))){%>checked<%}else{%>unchecked<%}%>>
                                            <label for="cybercity">15 +</label>
                                </div>
                                <div>
                                    <input type="checkbox" onchange="this.form.submit()" name="exp" value="10"
                                        <%if((filter.includes("10"))){%>checked<%}else{%>unchecked<%}%>>
                                            <label for="cybercity">10 +</label>
                                </div>
                                
                            </div>
                            <span id="4" onclick="expand(4)">+ Show More</span>
                        </div>
                    </form>
                </aside>
                <section class="cards">

                    <%if(alldata.length<=0){%>
                        <h5>Nothing to shoe</h5>
                        <%}else{for(var q=0;q<alldata.length;q++){%>
                    <div id="main-grid" class="main-grid">
                        <div class="demodiv">
                            <h3><%= alldata[q].name%></h3>
                            <ul class="sub-grid">
                                <li><i class="fa fa-certificate"></i><span><%= alldata[q].treatments%></span></li>
                                <li><i class="fas fa-award"></i><span><%= alldata[q].awards%></span></li>
                                <li><i class="fa fa-clock"></i><span><%= alldata[q].exp%></span></li>
                                <li><i class="fa fa-hospital"></i><span><%= alldata[q].yourhospital%></span></li>
                                <li><i class="fas fa-map-marker-alt"></i><span><%= alldata[q].city%> <%= alldata[q].state%> <%=
                                    alldata[q].country%></span></li>
                                <li><i class="fa fa-rupee"></i><span><%= alldata[q].fees%></span></li>
                            </ul>
                            <button onclick="showschedule('carouselContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>')" class="filledButton">Book an appointment</button>

                        </div>
                        <figure onclick="window.location.href='/doctorsprofile/<%= alldata[q]._id%>'">
                            <img onclick="viewprofile('<%= alldata[q]._id%>')" src=<%=alldata[q].img%>>                        
                        </figure>
                        <div id="bookdiv" class="bookAppointmentContainer hidebookdiv">
                            <div style="display: none;" class="carouselContainer allScheduleContainer"
                                id="carouselContainer<%= alldata[q]._id%>">
                                <div class="carouselButton">
                                    <div class="carouselLeftButtonk"
                                        onclick="moveCarousel('right','carouselContainer__allCarouselContainer<%= alldata[q]._id%>')">
                                        <i class="fas fa-less-than"></i>
                                    </div>
                                </div>
                                <div class="allCarouselItems allCarouselItems"
                                    id="carouselContainer__allCarouselContainer<%= alldata[q]._id%>">
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',0)"
                                        id="item1<%= alldata[q]._id%>" class="item">


                                    </div>
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',1)"
                                        id="item2<%= alldata[q]._id%>" class="item">


                                    </div>
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',2)"
                                        id="item3<%= alldata[q]._id%>" class="item">


                                    </div>
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',3)"
                                        id="item4<%= alldata[q]._id%>" style="display: none;" class="item">

                                    </div>
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',4)"
                                        id="item5<%= alldata[q]._id%>" style="display: none;" class="item">

                                    </div>
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',5)"
                                        id="item6<%= alldata[q]._id%>" style="display: none;" class="item">

                                    </div>
                                    <div onclick="showsubschedule('subScheduleContainer<%= alldata[q]._id%>','<%= alldata[q]._id%>',6)"
                                        id="item7<%= alldata[q]._id%>" style="display: none;" class="item">

                                    </div>
                                </div>
                                <div class="carouselButton" id="end-button">
                                    <div class="carouselLeftButton"
                                        onclick="moveCarousel('left','carouselContainer__allCarouselContainer<%= alldata[q]._id%>')">
                                        <i class="fas fa-greater-than"></i>
                                    </div>
                                </div>
                            </div>
                            <div style="display: none;" class="subScheduleContainer"
                                id="subScheduleContainer<%= alldata[q]._id%>">
                                <div>
                                    <div class="head">
                                        <h4>morning</h4>
                                    </div>
                                    <div id="mor<%= alldata[q]._id%>"
                                        style="margin: 0rem;padding:0rem;border-bottom: unset;">
                                    </div>
                                </div>
                                <div>
                                    <div class="head">
                                        <h4>Afternoon</h4>
                                    </div>
                                    <div id="after<%= alldata[q]._id%>"
                                        style="margin: 0rem;padding:0rem;border-bottom: unset;">
                                    </div>
                                </div>
                                <div>
                                    <div class="head">
                                        <h4>Evening</h4>
                                    </div>
                                    <div id="eve<%= alldata[q]._id%>"
                                        style="margin: 0rem;padding:0rem;border-bottom: unset;">
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <%}}%>


                </section>
            </div>
        </section>









        <%-include('footer.ejs') %>
</body>
<script src="frontend/js/doctor.js"></script>
</html>