<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor Page</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clocklet@0.2.6/css/clocklet.min.css">
        <script src="https://cdn.jsdelivr.net/npm/clocklet@0.2.6"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="dashboard.css">
        <link rel="stylesheet" href="myprofile.css">
        <link rel="stylesheet" href="editschedule.css">


    </head>
<body>
    <%-include('header.ejs') %>
    <form id="floating-form" class="floating-form" method="POST" action="/editschedule">

<div class="form">
                <div class="schedule-head">
                    <h1>Create Schedule</h1>
                </div>

                <div class="inputfields">
                    <label>select available days</label>
                    <select name="days" id="daysInput" class="daysInput" required=""
                        multiple="">
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                    </select>
                    <label>select Hospitl</label>
                    <input type="text" list="hospital" placeholder="select hospital"
                        name="selecthospital" required>
                    <datalist id="hospital">
                        <option value="<%= hospital%>"></option>
                    </datalist>
                    <label>From Time</label>

                    <input style="z-index: 9999;" name="fromtime" autocomplete="off"
                        data-clocklet>
                    <label>To Time</label>

                    <input style="z-index: 9999;" name="totime" autocomplete="off"
                        data-clocklet>
                    <label>Intervals</label>

                    <input type="text" name="interval"
                        placeholder="Enter intervals in minutes.." min="15" step="15"
                        max="60" required>


                </div>

                <div class="buttons">
                    <button class="accentButton" id="cancel" onclick="showform()">Cancel</button>
                    <button class="filledButton" id="done" type="submit">Done</button>
                </div>
            

        </div>

    </form>
    <section class="profile-section">
        <div class="container">
            <span id="dash-head" onclick="showaside()"><i class="fa fa-angle-double-right"></i> <h4>Click to view dashboard</h4></span>
            <section class="main-section">
                <%-include('dashboard.ejs') %>
                <div class="form-section">
                    <form>
                        <div class="hero-div">
                            <h2>Schedules</h2>
                            <button type="button" class="accentButton" onclick="showform()">Add schedule</button>
                        </div>
                    </form>
                    <%for(var i=0;i < data.length; i++){%>
                        <div class="schedule-div">
                            
                            <div <%if(data[i].isdisabled==true){%>class="schedule-details disabled"<%}else{%> class="schedule-details" unchecked<%}%>>
                                <div class="flex-div">
                                <div class="days">
                                    <h5>
                                        <%= data[i].days%>
                                    </h5>
                                </div>
                                <div class="hospital-time">
                                    <div>
                                    <h5>
                                            <%= data[i].selecthospital%>
                                        </h5>
                                    <h5>
                                        <%= data[i].fromtime%>-<%= data[i].totime%>
                                    </h5>
                                </div>
                                    <div class="slot-button-forms">
                                        <form method="POST" action="/deleteslot/<%= data[i].id%>">
                                            <button class="accentButton" type="submit">Remove
                                                Slots</button>
                                        </form>
                                        <button class="filledButton"
                                            onclick="showslots('<%= data[i].id%>')">View
                                            Slots</button>
    
                                        <input type="checkbox"
                                            onchange="window.location.href='/disableslot/<%= data[i].id%>/<%if(data[i].isdisabled==true){%>false<%}else{%>true<%}%>'"
                                            <%if(data[i].isdisabled==true){%>checked<%}else{%>
                                            unchecked<%}%> >
                                    </div>
                                </div>
                            </div>
                                <div class="slot-details" id="<%= data[i].id%>" style="display: none;">
                                    <% for(var j=0; j<(data[i].schedule).length; j++ ){
                                        if((j+1)>=(data[i].schedule).length){
                                        break;
                                        }%>
                                        <div <%if(data[i].schedule[j].isdisabled==true){%>class="disabled"<%}else{%>unchecked<%}%> >
                                                    <h6>
                                                        <%= data[i].schedule[j].time %> - <%=
                                                                data[i].schedule[j+1].time %>
                                                    </h6>
                                                    <input type="checkbox"
                                                        onchange="window.location.href='/disablesingleslot/<%= data[i].id%>/<%= data[i].schedule[j].id%>/<%if(data[i].schedule[j].isdisabled==true){%>false<%}else{%>true<%}%>'"
                                                        <%if(data[i].schedule[j].isdisabled==true){%>checked
                                                    <%}else{%>unchecked<%}%> >
                                        </div>
                                        <%}%>
                                </div>
                       

                            </div>

                       
                        </div>
                    <%}%>
                </div>
            </section>
            
        </div>
    </section>
    <%-include('footer.ejs') %>
</body>
<script src="dashboard.js"></script>
<script src="schedule.js"></script>

</html>