
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="doctor.css">
    <link rel="stylesheet" href="hospital.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<%-include('header.ejs') %>



<section class="overlay-section">
    <h1>Hospitals in <u>Delhi</u></h1>
</section>



<section class="heading">
    <h3>Home/Doctor List</h3>
    <form action="/sort" method="POST">
    <select name="sort" id="dropdownlist" onchange="this.form.submit()">
        <option value="" disabled selected>Sort By</option>
        <option value="name-asc">Name(Assc.)</option>
        <option value="name-desc">Name(Desc.)</option>
        <option value="fees-asc">Average Fee(Assc.)</option>
        <option value="fees-desc">Average Fee(Desc.)</option>
        <option value="exp-asc">Experience(Assc.)</option>
        <option value="exp-desc">Experience(Desc.)</option>
    </select>
</form>
</section>




    <section class="filtersanddoctors">

        <div class="filters">
            <button>Filter By</button>
            <ul>
                <li>Cyber City <i class="fa fa-close"></i></li>
                <li> organ Transplant <i class="fa fa-close"></i></li>
                <li>appolo hospital <i class="fa fa-close"></i></li>
                <li>30+ <i class="fa fa-close"></i></li>
            </ul>

            <div class="filter-bar">
                <form class="filterform" >

                <h4>Location <i class="fa fa-search"></i></h4>
                    <div>
                    <input type="checkbox" name="cybercity">
                    <label for="cybercity"><span>Cybercity </span> </label>
                    </div>
                    <div>
                    <input type="checkbox" name="Dwaraka" >
                    <label for="Dwaraka"> <span>Dwaraka</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"><span> Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <button>+ Show more</button>
                  
                  <h4>Location <i class="fa fa-search"></i></h4>
                    <div>
                    <input type="checkbox" name="cybercity">
                    <label for="cybercity"><span>Cybercity </span> </label>
                    </div>
                    <div>
                    <input type="checkbox" name="Dwaraka" >
                    <label for="Dwaraka"> <span>Dwaraka</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"><span> Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <button>+ Show more</button>
              
                  <h4>Location <i class="fa fa-search"></i></h4>
                    <div>
                    <input type="checkbox" name="cybercity">
                    <label for="cybercity"><span>Cybercity </span> </label>
                    </div>
                    <div>
                    <input type="checkbox" name="Dwaraka" >
                    <label for="Dwaraka"> <span>Dwaraka</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"><span> Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <button>+ Show more</button>
                 
                  <h4>Location <i class="fa fa-search"></i></h4>
                    <div>
                    <input type="checkbox" name="cybercity">
                    <label for="cybercity"><span>Cybercity </span> </label>
                    </div>
                    <div>
                    <input type="checkbox" name="Dwaraka" >
                    <label for="Dwaraka"> <span>Dwaraka</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"><span> Lajpat Nagar</span></label>
                    </div>
                    <div>
                    <input type="checkbox" name="LajpatNagar" >
                    <label for="LajpatNagar"> <span>Lajpat Nagar</span></label>
                    </div>
                    <button>+ Show more</button>
                  </form>
            </div>

        </div>


        <div class="doctor-card-tab">
           
            <% for(var i=0;i<hospitaldata.length;i++){%>
                <div class="doctor-card">
                    <div>
                        <h3><%= hospitaldata[i].name%></h3>
                        <ul>
                            <li><i class='fas fa-map-marker-alt'></i><%= hospitaldata[i].location||"NA"%></li>
                            <li><i class="fa fa-bed"></i><%= hospitaldata[i].beds||"NA"%></li>
                         
                          
                                <li><i class="fa fa-stethoscope"></i><%= hospitaldata[i].treatment||"NA"%></li>
 

                        </ul>
                        <ul id="treatment-list">
                          
                            <li>fertility</li>
                            <li>cardiology</li>
                            <li>famous treatments</li>
                            <li>abcdefghij</li>
                            <li>famous treatments</li>
                            <li>famous treatments</li>

                           
                        </ul>
                        <div class="appointment-button">
                            <button>Call Now</button>
                        </div>
                    </div>
                    <div class="doctor-image">
                        <img src=<%= hospitaldata[i].img%>></div>
                </div>
                <%}%>
         
           
            
        </div>
    </section>





<section class="need-help">
    <div>
    <h2>Need Help?</h2>
    <p>Just let us know, we will be happy to assist you</p>
</div> 
<button>Submit your enquiry</button> 

</section>

<%-include('footer.ejs') %>
