<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor Page</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />

  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="dashboard.css">
        <link rel="stylesheet" href="myprofile.css">
        <link rel="stylesheet" href="editschedule.css">
        <link rel="stylesheet" href="medicalrecord.css">


    </head>
<body>
    <form class="medical-record-form" method="POST" action="/addmedicalrecord" enctype="multipart/form-data">

        <div id="floating-form" class="floating-form">
            <div class="form">
            
                <div class="addpic">
                    <div class="pic-input-label">
                        <label for="uploadPicInput"><i class="fas fa-plus"></i><span>Add Photo</span></label>
                        <input type="file" name="myfiles" id="uploadPicInput" accept="image/*"  onchange="loadFile(event)" multiple>
                    </div>
                    <div id="pic" class="pic-input-label" >
                    </div>
                </div>
            
            
                <div class="inputfields">
                    <input type="text" placeholder="Title" title="Please Set a Report Title" name="title" required>
                    <input type="text"  value="<%= username%>" title="Name of User" name="name" required>
                    <input class="date" type="date" id="date" title="Please Date of Report" name="date" required >
                </div>
              
                <div class="type-of-report">
                    <h6>Type of report</h6>
                    <ul>
                        <li>
                            <input  type="radio" name="typeofreport" id="reportTypeInput"  value="report" >
                            <label for="reportTypeInput">
                             <span>Report</span>
                            </label>
                        </li>
                        <li>
                            <input  type="radio" name="typeofreport" id="reportTypeInput2"  value="prescription" >
                            <label for="reportTypeInput2">
                            <span>Prescription</span>
                            </label>
                        </li>
                        <li>
                            <input type="radio" name="typeofreport" id="reportTypeInput3" value="Invoice" >
                            <label for="reportTypeInput3">
                            <span>Invoice</span>
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="buttons">
                    <button class="accentButton" id="cancel" onclick="showform()">Cancel</button>
                    <button class="filledButton" id="done" type="submit">Done</button>
                </div>
        </div>

    </div>
    </form>







    
    <%-include('header.ejs') %>
    <section class="profile-section">
        <div class="container">
            <span id="dash-head" onclick="showaside()"><i class="fa fa-angle-double-right"></i> <h4>Click to view dashboard</h4></span>
            <section class="main-section">
                <%-include('dashboard.ejs') %>
                <div class="form-section">
                    <form>
                        <div class="hero-div">
                            <h2>Medical records </h2>
                            <button type="button" class="accentButton" onclick="showform()">Add record</button>
                        </div>
                    </form>
                    <div class="parent-div">
                    <% for(var i=0;i < data.length; i++){%>
                        <div class="recorddata">
            
                            <div class="date-div">
                                <a href="/viewrecord/<%= data[i].id%>"><h5><%= data[i].date%></h5></a>
                            </div>
            
            
                                <div class="title-div">
                                <h6><%= data[i].name%></h6>
                                <h6><%= data[i].title%></h6>               
                                <h6><%= data[i].typeofreport%></h6>
                                </div>
            
                                <div class="button-div">
                                    <form method="POST" action="/delete/<%= data[i].id %>">
                                        <button class="accentButton" type="submit">delete</button>
                                        </form>
                                </div>
            
                        </div>
                        <%}%>
                    </div>
                </div>


            </section>
        </div>
    </section>
    <%-include('footer.ejs') %>
</body>
<s src="dashboard.js"></s>
<script src="medicalrecord.js"></script>
<script src="login.js"></script>


</html>