<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor Page</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />

  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="dashboard.css">
        <link rel="stylesheet" href="myprofile.css">

    </head>
<body>
    <%-include('header.ejs') %>
    
    <section class="profile-section">
        <div class="container">
            <span id="dash-head" onclick="showaside()"><i class="fa fa-angle-double-right"></i> <h4>Click to view dashboard</h4></span>
            <section class="main-section">
                <%-include('dashboard.ejs') %>
                <div class="form-section">
                    <form action="/updateprofile" enctype="multipart/form-data" method="POST">
                        <div class="hero-div">
                            <h2>Accounts </h2>
                            <button class="accentButton" type="submit">Save Changes</button>
                        </div>
                        <div class="profile-div wrap-div">
                            <div>
                            <label>Profile photo</label>
                            <div class="pic-div">
                                <figure>
                                    <img id="pic" src="<%= profilepic%>">
                                </figure>
                                <div>
                                    <p>Pick a photo from your system</p>
                                    <label for="upload-pic">Select Photo</label>
                                    <input type="file" name="profile-image"  id="upload-pic" accept="image/*" onchange="loadFile(event)">
                                </div>
                            </div>
                        </div>
                            <div class="input-div">
                                <label>Name</label>
                                <input name="name" type="text" value="<%= username%>">
                            </div>
                        </div>

                        <div class="input-div info wrap-div">
                            <div>
                                <label>Phone Number</label>
                                <input name="number" type="text" value="<%= phonenumber%>" >
                            </div>
                            <div>
                                <label>Email</label>
                                <input name="email" type="text" value="<%= email%>">
                            </div>
                            <div>
                                <label>Gender</label>
                                <input name="gender" type="text" value="<%= gender%>">
                            </div>
                            <div>
                                <label>Date of Birth</label>
                                <input name="date" type="text" value="<%= date%>">
                            </div>
                            <div>
                                <label>Timezone</label>
                                <input type="text" >
                            </div>
                        </div>

                        <div class="input-div info wrap-div">
                            <div>
                                <label>House No/Street</label>
                                <input type="text" >
                            </div>
                            <div>
                                <label>Colony/Street/Locality</label>
                                <input type="text" >
                            </div>
                            <div>
                                <label>City</label>
                                <input name="city" type="text" value="<%= city%>">
                            </div>
                            <div>
                                <label>State</label>
                                <input name="state" type="text" value="<%= state%>">
                            </div>
                            <div>
                                <label>Country</label>
                                <input name="country" type="text" value="<%= country%>">
                            </div>
                        </div>
                        <%if(isdoctor){%>
                            <div class="input-div info wrap-div">
                                <div>
                                    <label>yourhospital</label>
                                    <input type="text" name='yourhospital' value=<%= yourhospital%>  >
                                </div>
                                <div>
                                    <label>achievements</label>
                                    <input type="text" name='achievements' value=<%= achievements%>  >
                                </div>
                                <div>
                                    <label>experience</label>
                                    <input type="number" name="exp" placeholder="your experience" value=<%= exp%> >
                                </div>
                                <div>
                                    <label>qualifications</label>
                                    <input type="text" name='qualifications' value=<%= qualifications%>  >
                                </div>
                                <div>
                                    <label>awards</label>
                                    <input type="text" name='awards' value=<%= awards%>  >
                                </div>
                                <div>
                                    <label>specialization</label>
                                    <input type="text" name='specialization' value=<%= specialization%>  >
                                </div>
                                <div>
                                    <label>fees</label>
                                    <input type="number" name="fees" placeholder="your avg fees" value=<%= fees%> >
                                </div>
                                <div>
                                    <label>Treatments</label>
                                    <input type="text" name="treatments" value=<%= treatments%> >
                                </div>
                                <div id="textarea-div">
                                    <label>Description</label>
                                    <textarea id="desc" name="description" placeholder="description"  ><%= description%></textarea>
                                </div>
                            </div>
                        <%}%>
















                    </form>
                </div>


            </section>
        </div>
    </section>
    <%-include('footer.ejs') %>
</body>
<script src="/dashboard.js"></script>
<script src="/tag.js"></script>

</html>